<footer class="bg-black text-white mt-auto">
    <div class="max-w-7xl mx-auto px-8 py-14 grid grid-cols-1 md:grid-cols-3 gap-10">
        <!-- logo -->
         <div class="">
            <h1 class="text-3xl font-bold tracking-[6px] mb-4">Ghazal.</h1>
            <p class="text-gray-400 leading-7"> Premium fashion store for
                 modern streetwear and sneakers.</p>
         </div>
         <!-- link -->
          <div class="">
            <h2 class="text-xl font-semibold mb-5">Link</h2>
            <div class="flex flex-col gap-3 text-gray-400">
                <a routerLink="/home" class="hover:text-white transition cursor-pointer">Home</a>
                <a routerLink="/shoes" class="hover:text-white transition cursor-pointer">Shoes</a>
                <a routerLink="/clothes" class="hover:text-white transition cursor-pointer">Clothes</a>
            </div>
          </div>
          <!-- content -->
           <div>
            <h2 class="text-xl font-semibold mb-5">Contact</h2>
            <div class="flex flex-col gap-3 text text-gray-400 ">
                <p>support&#64;ghazal.com</p>
                <p>Egypt</p>
            </div>
           </div>
          <!-- Bottom -->
           <div class="border-t border-white/10 text-center py-0 text-gray-500">© 2026 GHAZAL. All rights reserved.</div>
    </div>
</footer>
