<section class="max-w-5xl mx-auto py-10">
  <h1 class="text-3xl font-bold mb-6">Admin Orders</h1>

  <div *ngFor="let order of orders" class="border rounded-xl p-5 mb-4 shadow">
    <h2 class="font-bold text-lg">
      {{ order.name }}
    </h2>

    <p>📅 {{ order.date }}</p>
    <p>📞 {{ order.phone }}</p>
    <p>📍 {{ order.address }}</p>

<p class="mt-2">
  Status:
  <span class="font-bold text-yellow-600">
    {{ order.status }}
  </span>
</p>

<button
  (click)="markAsDone(order.id)"
  class="bg-green-600 text-white px-3 py-1 rounded-lg mr-2 mt-3"
>
  Done
</button>

<button
  (click)="deleteOrder(order.id)"
  class="bg-red-600 text-white px-3 py-1 rounded-lg mt-3"
>
  Delete
</button>
  </div>
</section>
