<div class="min-h-screen flex items-center justify-center bg-gray-100">

  <div class="bg-white w-96 p-8 rounded-2xl shadow-xl">

    <h1 class="text-3xl font-bold text-center mb-6">
      Create Account
    </h1>

    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <input
  formControlName="email"
  type="email"
  placeholder="Email"
  class="w-full border p-3 rounded-lg mb-2"
/>

<p *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
   class="text-red-500 text-sm mb-3">
  Enter a valid email
</p>

<input
  formControlName="password"
  type="password"
  placeholder="Password"
  class="w-full border p-3 rounded-lg mb-2"
/>

<p *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
   class="text-red-500 text-sm mb-4">
  Password must be at least 6 characters
</p>

      <button
  type="submit"
  [disabled]="isLoading"
  class="w-full bg-black text-white p-3 rounded-lg hover:bg-gray-800 transition flex justify-center items-center"
>
  <span *ngIf="!isLoading">Register</span>

  <span *ngIf="isLoading" class="animate-spin border-2 border-white border-t-transparent rounded-full w-5 h-5"></span>
</button>

    </form>
    <div class="w-full h-2 bg-gray-200 rounded mt-2 mb-4 overflow-hidden">
  <div
    class="h-2 rounded transition-all"
    [ngClass]="{
      'bg-red-500 w-1/4': getPasswordStrength() === 1,
      'bg-orange-500 w-2/4': getPasswordStrength() === 2,
      'bg-yellow-500 w-3/4': getPasswordStrength() === 3,
      'bg-green-500 w-full': getPasswordStrength() === 4
    }"
  ></div>
</div>

<p class="text-xs text-gray-500 mb-3">
  Weak → Medium → Strong
</p>

    <p class="text-center text-sm mt-4 text-gray-500">
      Already have an account?
      <a routerLink="/login" class="text-black font-bold">Login</a>
    </p>

  </div>

</div>